@import "Variables.scss";
//二维码
.qr-code-block {
  position: fixed;
  top: 55%;
  z-index: 101;
  left: auto !important;
  right: 0px;
  //border: 1px solid $FGX_COLOR;
  height: 48px;
  //width: 68px;
  text-align: right;
  padding-left: 20px;
  >a{
    background-color: #FFFFFF;
  }
  .qrcode-hot-area {
    border: 1px solid $FGX_COLOR;
    position: relative;
    height: 47px;
    width: 47px;

    display: block;
    text-align: center;
    //padding-top: 4px;
    .label-text {
      font-size: 13px;
      text-align: center;
      color: $TEXT_SECOND_COLOR;
    }
    .label-text:first-child{
      margin-top: 5px;
    }

  }
  .qrcode-hot-area:hover {
    background: $MED_DETAIL_COLOR;
    text-decoration: none;
    .label-text {
      color: $WHITE_COLOR;
    }
  }
  .qrcode-img-block {
    width: 374px;
    height: 270px;
    border: 1px solid $FGX_COLOR;
    background-color: $WHITE_COLOR;
    display:none;
    position: fixed;
    left: auto;
    right: 64px;
    top: 55%;
    z-index: 102;

    .block-left {
      float: left;
      position: relative;
      width: 186px;
      height: 100%;
      padding-top: 20px;
      .vertical-split {
        position: absolute;
        width: 1px;
        background-color: $FGX_COLOR;
        height: 205px;
        right: -1px;
        top: 30px;
      }
      .left-text {
        font-size: 14px;
        text-align: center;
        line-height: 14px;
        color: $MED_DETAIL_COLOR;
      }
      .mt20 {
        margin-top: 12px;
      }
      .left-image {
        display: block;
        //background-image: url("../imgs/qc_image@1x.png");
        background-repeat: no-repeat;
        background-size: 165px 165px;
        width: 165px;
        height: 165px;
        margin: 20px auto auto;
        img{
          width: 165px;
          height: 165px;
        }
      }

    }
    .block-right {
      float: right;
      width: 186px;
      height: 100%;
      font-size: 14px;
      padding-top: 20px;
      .contect-us{
        color: $MED_DETAIL_COLOR;
        text-align:center
      }
      .label-phone,.label-email{
        text-align: center;
        font-size: 12px;
      }
      .label-phone{
        margin-top: 20px;
        text-align: left;
        padding-left: 30px;
      }
      .label-email{
        margin-top: 20px;
      }
      .label-value{
        font-size: 12px;
        text-align:center;
      }
    }
  }
  .qrcode-img-block.show{
    display: block;
  }
  //scroll top
  .jump-to-top{
    width: 47px;
    height: 47px;
    background-repeat: no-repeat;
    background-position: 16px 18px;
    background-image: url("../imgs/scroll_top@1x.png");
    background-size: 18px 11px;
    display:block;
    border:1px solid $FGX_COLOR;
    border-top:none;
    display: none;
  }
  .jump-to-top:hover{
    background-color:$MED_DETAIL_COLOR ;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 1),
  only screen and (min--moz-device-pixel-ratio: 1),
  only screen and (-o-min-device-pixel-ratio: 1/1),
  only screen and (min-device-pixel-ratio: 1) {
    .jump-to-top{
      background-image: url("../imgs/scroll_top@1x.png");
    }
    .jump-to-top:hover{
      background-image: url("../imgs/scroll_top_hover@1x.png");
    }
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2) {
    .jump-to-top{
      background-image: url("../imgs/scroll_top@2x.png");
    }
    .jump-to-top:hover{
      background-image: url("../imgs/scroll_top_hover@2x.png");
    }
  }
}
