//variables
$MAIN_GREEN: #41b8b0; //按钮
$MAIN_GREEN_HOVER: #379e97; // Hover
$MAIN_GRAY: #FAFAFA; //头部  底部背景颜色
$MAIN_FONT_COLOR: #2e363f; //主字体颜色
$TIP_FONT_COLOR: #a0a9b4; //次级信息（提示信息）颜色, place-holder
$MED_DETAIL_COLOR: #3D83B8; //辅助色
//$MED_DETAIL_COLOR: #54bfdb; //辅助色
$WHITE_COLOR:#FFFFFF;  //纯白色
$TEXT_SECOND_COLOR:#7690a3;
$SEARCH_BORDER_COLOR:#becdd9;
$FGX_COLOR:#e7ecf1; //分隔线 左侧block颜色
$PANEL_BLOCK_BUTTON_COLOR:#eff5fa;
//菜单border颜色
$TOP_MENU_BORDER_COLOR:#E7E7E7;
//菜单背景颜

$BI_BG:#F1F4F5;
$BI_NAV_FONT_COLOR:#666666;
$BI_SHADOW_COLOR:#333333;
$BI_RANGE_TEXT:#294056;
//门诊记录数
$BI_OUTP_COLOR:#2776B1;
//住院记录数
$BI_INHOSP_COLOR:#F19B37;

//main blue
$BI_Main_BLUE:#9EC1DB;

//EMR
$BI_EMR_COLOR:#0096FE;
//Order
$BI_ORDER_COLOR:#F19B37;
//LAB
$BI_LAB_COLOR:#604EF4;
//REPORT
$BI_REPORT_COLOR:#32BF74;
//Temperature
//$BI_TEMPERATURE_COLOR:#FF0044;
$BI_TEMPERATURE_COLOR:#ED728B;


//Brain block border
$BRAIN_BORDER:#becdd9;

//透明度都是 10%
//医嘱
$ADVICE_COLOR: #ed8261;
//化验
$CHEMICAL_EXAM_COLOR: #64c8b2;
//体征
$MEDICAL_SIGN_COLOR: #77d0ea;
//检查
$INSPECT_COLOR: #c97bc0;
//诊断
$DIAGNOSIS_COLOR: #93cb6b;
//记录
$RECORD_COLOR: #7caade;

//透明度都是 10%
//医嘱
$ADVICE_COLOR_BG: #FDF3F1;
//化验
$CHEMICAL_EXAM_COLOR_BG: #f0fbf7;
//体征
$MEDICAL_SIGN_COLOR_BG: #f2fafd;
//检查
$INSPECT_COLOR_BG: #f9f2f9;
//诊断
$DIAGNOSIS_COLOR_BG: #f4faf0;
//记录
$RECORD_COLOR_BG: #F2F7FB;


//header height
$HEADER_HEIGHT: 56px;
